<h1>MVC Teams/Leagues</h1>
<h2>Coyote Love</h2>
<%= image_tag "coyote.jpg" %>
<br>
<a href="/leagues">Leagues</a>
<a href="/teams">Teams</a>
<a href="/memberships">Memberships</a>
<a href="/users">Users</a>
